@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: var(
    --pallet-smooth-dark,
    linear-gradient(180deg, #1f2531 0%, rgba(79, 84, 125, 0) 100%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
